extends ../layouts/main

block content
  div.container
    h1 category List
    a.btn.btn-primary(href='/category/add') Add category
    a.btn.btn-secondary(href='/home') Back Home
    table#categoryTable.table.table-striped.table-bordered
      thead
        tr
          th Name
          th Description
          th Actions
      tbody
        each category in categories
          tr
            td= category.name
            td= category.description
            td
              a.btn.btn-info(href='/category/view/' + category.id) View
              a.btn.btn-warning(href='/category/edit/' + category.id) Edit
              button.btn.btn-danger(type='button' onclick='deleteCategory("#{category.id}")') Delete

    script.
      $(document).ready(function() {
        $('#categoryTable').DataTable({
          "columnDefs": [
            { "orderable": false, "targets": 2 } // Disable sorting for the Actions column
          ]
        });
      });

  script.
    function deleteCategory(categoryId) {
      if (confirm('Are you sure you want to delete this category?')) {
        fetch('/category/delete/' + categoryId, {
          method: 'POST'
        })
        .then(response => {
          if (response.ok) {
            console.log('Category deleted successfully');
            location.reload(); 
          } else {
            throw new Error('Failed to delete category');
          }
        })
        .catch(error => {
          console.error('Error:', error);
        });
      }
    }